.fullScreen::before {
  font-family: iconfont;
  content: "\e620";
  color: #C0C4CC;
}
.skin::before {
  font-family: iconfont;
  content: "\e7e8";
  color: #C0C4CC;
}
.search::before {
  font-family: iconfont;
  content: "\e678";
  color: #C0C4CC;
}
.message::before {
  font-family: iconfont;
  content: "\e62c";
  color: #C0C4CC;
}
.personal::before {
  font-family: iconfont;
  content: "\e638";
  color: #C0C4CC;
}
.lock::before {
  font-family: iconfont;
  content: "\e62b";
  color: #C0C4CC;
}
.line::before {
  font-family: iconfont;
  content: "\e680";
  color: #C0C4CC;
  font-size: 17px;
}
